<p>
  <span sbIntroStep="step1">intro-demo works!</span>
</p>
<p style="text-align: center">
  <span sbIntroStep="step2">intro-demo works!</span>
</p>
<p style="text-align: right">
  <span sbIntroStep="step3">intro-demo works!</span>
</p>

<button (click)="startIntroManual()">start intro</button>
<button (click)="startIntroAutomatic()">start automatic intro</button>

<ng-template #introTextTemplate>
  <div class="intro-template">
    <p>
      This comes from a template
    </p>
    <button sbIntroPreviousButton [sbHideWhenDisabled]="true">
      previous
    </button>
    <button sbIntroNextButton>
      next
    </button>
    <button sbIntroCancelButton>
      cancel
    </button>
  </div>
</ng-template>
